@model UniversityDepartment.Models.Course

@{
    ViewData["Title"] = "Добавление";
}

<h1>Добавление</h1>

<h4>Курс</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CourseNumber" class="control-label">Номер курса</label>
                <input asp-for="CourseNumber" class="form-control" />
                <span asp-validation-for="CourseNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SemesterNumber" class="control-label">Номер семестра</label>
                <input asp-for="SemesterNumber" class="form-control" />
                <span asp-validation-for="SemesterNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpecialtyId" class="control-label">Специальность</label>
                <select asp-for="SpecialtyId" class="form-control" asp-items="ViewBag.SpecialtyId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад к списку</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
