@model UniversityDepartment.Models.Subject

@{
    ViewData["Title"] = "Редактировать";
}

<h1>Редактировать</h1>

<h4>Предмет</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SubjectId" />
            <div class="form-group">
                <label asp-for="Name" class="control-label">Название</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LectureHours" class="control-label">Часы лекций</label>
                <input asp-for="LectureHours" class="form-control" />
                <span asp-validation-for="LectureHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PracticalHours" class="control-label">Часы практики</label>
                <input asp-for="PracticalHours" class="form-control" />
                <span asp-validation-for="PracticalHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LabHours" class="control-label">Часы лабораторных работ</label>
                <input asp-for="LabHours" class="form-control" />
                <span asp-validation-for="LabHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReportingType" class="control-label">Тип отчетности</label>
                <input asp-for="ReportingType" class="form-control" />
                <span asp-validation-for="ReportingType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад к списку</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
